#conteudo {
    margin-left: 5%;
    margin-right: 5%;
}

.variaveisLeft {
    width: 45%;
    float: left;
    margin-right: 5%;
}

.variaveisRight {
    width: 45%;
    float: left;
    margin-left: 5%;
}   

fieldset {
    width: 100%;
}

.varText {
    width: 100px;
}

#select {
    float: left;
	margin-right: 20px;
}

#parteBaixo {
    margin-left: 2px;
    height: auto;
    margin-top: 100px;
}

#topo {
    text-align: center;
}

#containerVariaveis {
	width: 100%;
}

#containerResultados {
	width: 40%;
	float: left;
}

#containerConversor {
	width: 40%;
	float: left;
}

#botaoCalcular {
	padding-left: 10px;
}

#divSelect {
    width: 50%;
}